@import 'tailwindcss';

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-VariableFont_wdth,wght.ttf');
}

@theme {
  --tw-duration: 0.35s;

  --color-primary: white;
  --color-secondary: ;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
  }

  button:not([disabled]) {
    cursor: pointer;
  }
}

@layer components {
  .bg-circle {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .glass {
    backdrop-filter: blur(40px);
  }
}
